LOCATION=australia-southeast1
MAILCHIMP_CONTACT_STATUS=subscribed
MAILCHIMP_MEMBER_EVENTS_CONFIG={ "memberEvents": [ "activity" ], "subscriberEmail": "emailAddress" }
MAILCHIMP_MEMBER_EVENTS_WATCH_PATH=test_collection
MAILCHIMP_MEMBER_TAGS_CONFIG={ "memberTags": ["tag1", "tag2"], "subscriberEmail": "emailAddress" }
MAILCHIMP_MEMBER_TAGS_WATCH_PATH=test_collection
MAILCHIMP_MERGE_FIELDS_CONFIG={ "mergeFields": { "firstName": "FNAME", "lastName": "LNAME", "phoneNumber": "PHONE", "customMerge1": "MMERGE6", "customMerge2": "MMERGE7" }, "subscriberEmail": "emailAddress", "statusField": { "documentPath": "subscribed", "statusFormat": "boolean" } }
MAILCHIMP_MERGE_FIELDS_WATCH_PATH=test_collection
MAILCHIMP_RETRY_ATTEMPTS=5
MAILCHIMP_API_KEY=MAILCHIMP_API_KEY
MAILCHIMP_AUDIENCE_ID=MAILCHIMP_AUDIENCE_ID